<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xidian.meetingroom.mapper.LogMapper">
    <resultMap id="LogResultMap" type="Log">
        <id property="logId" column="log_id"/>
        <result property="userId" column="user_id"/>
        <result property="operationType" column="operation_type"/>
        <result property="operationDetails" column="operation_details"/>
        <result property="createdTime" column="created_time"/>
        <result property="ipAddress" column="ip_address"/>
    </resultMap>

    <select id="selectLogById" resultMap="LogResultMap">
        SELECT * FROM Log WHERE log_id = #{logId}
    </select>

    <!-- Additional CRUD operations -->
</mapper>
