<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xidian.meetingroom.mapper.LogMapper">
    <resultMap id="LogResultMap" type="Log">
        <id property="logId" column="log_id"/>
        <result property="userId" column="user_id"/>
        <result property="operationType" column="operation_type"/>
        <result property="operationDetails" column="operation_details"/>
        <result property="createdTime" column="created_time"/>
        <result property="ipAddress" column="ip_address"/>
    </resultMap>

    <select id="selectLogById" resultMap="LogResultMap">
        SELECT * FROM Log WHERE log_id = #{logId}
    </select>

    <select id="selectLogsByUserId" resultMap="LogResultMap">
        SELECT * FROM Log 
        WHERE user_id = #{userId}
        ORDER BY created_time DESC
    </select>

    <select id="selectLogsByDateRange" resultMap="LogResultMap">
        SELECT * FROM Log 
        WHERE created_time BETWEEN #{startDate} AND #{endDate}
        ORDER BY created_time DESC
    </select>

    <select id="selectLogsByOperationType" resultMap="LogResultMap">
        SELECT * FROM Log 
        WHERE operation_type = #{operationType}
        ORDER BY created_time DESC
    </select>

    <insert id="insertLog" parameterType="Log">
        INSERT INTO Log (
            user_id,
            operation_type,
            operation_details,
            ip_address,
            created_time
        ) VALUES (
            #{userId},
            #{operationType},
            #{operationDetails},
            #{ipAddress},
            #{createdTime}
        )
    </insert>

    <delete id="deleteLogsBefore">
        DELETE FROM Log WHERE created_time < #{date}
    </delete>
</mapper>
